.title
    margin-bottom: 5px
    &__text
        color: #FF8A00
        font-weight: bold
        font-size: 30px
    &__deco
        width: 105%
        height: 8px
        background-color: #EEEEEE
        margin-top: -10px
        padding-right: 20px

@media only screen and (max-width: 380px)
/* mobile portrait (small phone) */
    .title
        &__text
            font-size: 20px
